#mpdignore.service
[Unit]
Description=Creates and updates .mpdignore files in music directories when songs are added to /library/music/mpd\ playlists/.mpdignore.mp3 via mpd client.
Requires=mpdignore.path

[Service]
Type=oneshot
# Set ExecStart to location of mpdigore.sh script, e.g., /usr/local/sbin/mpdignore.sh
ExecStart=/usr/local/bin/mpdignore.sh 

[Install]
Also=mpdignore.path


